<div class="container mt-5">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-5">
    <h5>Université </h5>
    <select class="form-control form-control" id="idUni" name="idUni" [(ngModel)]="idUni"
            (change)="onChange()">
      <option *ngFor="let uni of universityList" value="{{uni.idUni}}">
        {{ uni.nom }}
      </option>
    </select>
  </div>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date Inscription</th>
          <th>Section</th>
          <th>Université</th>
          <th *ngIf="authService.isAdmin()">Supprimer</th>
          <th *ngIf="authService.isAdmin()">Modifier</th>
        </tr>
        <tbody *ngFor="let etudiant of etudiants">
        <tr>
          <td>
            {{ etudiant.nom }}
          </td>
          <td>
            {{ etudiant.prenom }}
          </td>
          <td>
            {{ etudiant.dateInscri |date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ etudiant.section }}
          </td>
          <td>
            {{ etudiant.universite.nom }}
          </td>
          <td *ngIf="authService.isAdmin()"><a *ngIf="authService.isAdmin()" class="btn btn-danger"
                                               (click)="supprimerEtudiant(etudiant)"><i class="bi bi-trash-fill">
            Supprimer</i></a></td>
          <td *ngIf="authService.isAdmin()"><a *ngIf="authService.isAdmin()" class="btn btn-success"
                                               [routerLink]="['/updateEtudiant',etudiant.idEtudiant]"><i
            class="bi bi-pen-fill"> Modifier</i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
