<div class="container mt-5">

  <div>
    <h2 class="mb-5 title">Ajouter une Université :</h2>
  </div>
  <form>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Université</label>
      <input type="text" [(ngModel)]="newUniversity.nom" name="nom" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Pays Universite</label>
      <input type="text" [(ngModel)]="newUniversity.pays" name="pays" class="form-control">
    </div>

    <div class="mt-2 btn">
      <button type="submit" (click)="addUniversity()" class="btn btn-primary">Ajouter</button>
    </div>
  </form>
</div>

