<div class="container mt-5">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="mb-5 col-sm-4 col-md-4 col-lg-4">
        <input
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="Search"
        />
        <i class="bi bi-search ml-3"></i>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <th>Pays</th>
          <th *ngIf="authService.isAdmin()">Modifier</th>
        </tr>
        <tbody *ngFor="let uni of universities | filter: searchText">
        <tr>
          <td>
            {{ uni.nom }}
          </td>
          <td>
            {{ uni.pays }}
          </td>
          <td *ngIf="authService.isAdmin()">
            <a
              *ngIf="authService.isAdmin()"
              class="btn btn-success"
              [routerLink]="['/updateUniversity', uni.idUni]"><i class="bi bi-pen-fill"> Modifier</i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
