<div class="container mt-5">
  <div>
    <h2 class="mb-5 title">Modifier {{ currentUniversity.nom }}:</h2>
  </div>
  <form>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom University</label>
      <input type="text" [(ngModel)]="currentUniversity.nom" name="nom" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Pays University</label>
      <input type="text" [(ngModel)]="currentUniversity.pays" name="prenom" class="form-control">
    </div>
    <div class="mt-2 btn">
      <button type="submit" (click)="updateUniversity()" class="btn btn-primary">Modifier</button>
    </div>
  </form>
</div>
