<div class="container mt-5">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="mb-5">
        <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search"> <i
        class="bi bi-search ml-3"></i>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date Inscription</th>
          <th>Section</th>
          <th>Université</th>
          <th *ngIf="authService.isAdmin()">Supprimer</th>
          <th *ngIf="authService.isAdmin()">Modifier</th>
        </tr>
        <tbody *ngFor="let etudiant of etudiants | filter:searchText">
        <tr>
          <td>
            {{ etudiant.nom }}
          </td>
          <td>
            {{ etudiant.prenom }}
          </td>
          <td>
            {{ etudiant.dateInscri |date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ etudiant.section }}
          </td>
          <td>
            {{ etudiant.universite.nom }}
          </td>
          <td *ngIf="authService.isAdmin()">
            <a class="btn btn-danger"
               (click)="supprimerEtudiant(etudiant)">
              <i class="bi bi-trash-fill"> Supprimer</i>
            </a>
          </td>
          <td *ngIf="authService.isAdmin()">
            <a class="btn btn-success"
               [routerLink]="['/updateEtudiant',etudiant.idEtudiant]">
              <i class="bi bi-pen-fill"> Modifier</i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

